priority -50

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet debug "" b
import ipdb; ipdb.set_trace()
$0
endsnippet


